<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manik Sheoran</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Ubuntu">
  </head>
  <body>
    <div class="middle-container">
      <div class="profile"><img class="dp" src="https://i.ibb.co/sR5cpGH/userlogo.png" alt="profile-logo">
        <h2>Hello,</h2>
        <p class="intro">I'm an IT 2nd year undergrad student at IIEST, Shibpur passionate about Python programming.</p>
      </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <p>Ready to create something amazing? Let's connect and turn ideas into reality!</p><a class="btn" href="mailto:sheoranmanik@gmail.com">CONTACT ME</a>
      </div>
    </div>
    <div class="bottom-container"><a class="footer-link" href="https://www.linkedin.com/in/maniksheoran">LinkedIn</a><a class="footer-link" href="https://x.com/maniksheoran">X handle</a>
      <p class="copyright">© Manik Sheoran</p>
    </div>
  </body>
</html>
