<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manik Sheoran</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Ubuntu">
  </head>
  <body>
    <div class="nav-bar"><a class="home page" href="/">HOME</a><a class="home" href="projects.html">PROJECTS</a></div>
    <div class="top-container"><img src="https://i.ibb.co/610mxcd/cloud.png" class="top-c" alt="cloud image">
      <h1>I'm Manik.</h1>
      <h2>an IT student.</h2><img src="https://i.ibb.co/J3pMnq3/mount.png" class="mount" alt="mountain image"><img src="https://i.ibb.co/610mxcd/cloud.png" class="bottom-c" alt="cloud image">
    </div>
    <div class="middle-container">
      <div class="profile"><img class="dp" src="https://i.ibb.co/sR5cpGH/userlogo.png" alt="profile-logo">
        <h2>Hello,</h2>
        <p class="intro">I'm an IT 2nd year undergrad student at IIEST, Shibpur passionate about Python programming.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills</h2>
        <div class="skill-row"><img class="python" src="https://i.ibb.co/bgFJ9ps/python.png" alt="python icon">
          <h3>Python</h3>
          <p>Intermediate-level Python programmer skilled in data manipulation, scripting, and API utilization. Skilled in leveraging Python for various applications and adept at utilizing APIs to interact with external services and data sources.</p>
        </div>
        <div class="skill-row"><img class="html" src="https://i.ibb.co/8DFfR9F/html.png" alt="html icon">
          <h3>Web Development (HTML/CSS)</h3>
          <p>Familiar with HTML for structured content and CSS for styling web elements. Basic understanding of HTML, focusing on creating visually appealing and responsive web interfaces through CSS.</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <p>Ready to create something amazing? Let's connect and turn ideas into reality!</p><a class="btn" href="mailto:sheoranmanik@gmail.com">CONTACT ME</a>
      </div>
    </div>
    <div class="bottom-container"><a class="footer-link" href="https://www.linkedin.com/in/maniksheoran">LinkedIn</a><a class="footer-link" href="https://x.com/maniksheoran">X handle</a>
      <p class="copyright">© Manik Sheoran</p>
    </div>
  </body>
</html>
